@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground-rgb: 255, 255, 255;*/
/*    --background-start-rgb: 0, 0, 0;*/
/*    --background-end-rgb: 0, 0, 0;*/
/*  }*/
/*}*/

body {
    color: rgb(var(--foreground-rgb));
    /*background: linear-gradient(*/
    /*    to bottom,*/
    /*    transparent,*/
    /*    rgb(var(--background-end-rgb))*/
    /*  )*/
    /*  rgb(var(--background-start-rgb)) no-repeat fixed;*/
}


.tremor-Card-root {
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1),
    0 1px 2px 2px rgba(0, 0, 0, 0.06);
    transition: box-shadow 0.2s ease-in-out;
}

.tremor-Card-root:hover {
    box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.175),
    0 1px 2px 1px rgba(0, 0, 0, 0.09);
}

.--fixed-bg {
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.tremor-dialog-root > div {
    backdrop-filter: blur(4px);
    /*background: rgba(255, 255, 255, 0.4);*/
}
